* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;


}
header{
    background-color: #FFF8F3;
    background-image: url(./img/header_bg.png),url(./img/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, left bottom;
    padding-top: 20px;
    padding-left: 33px;
    padding-right: 38px;
   

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 225px;
    padding-top: 30px;

}

.title_by_portfolio {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 30px;
    font-size: 20px;
    font-weight: 700;
}

/* one butn  */

.btn {
    width: 150px;
    height: 64px;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border: none;
    color: aliceblue;
    border-radius: 5px;
}

.banner {
    margin: 0 225px;
    display: flex;
    align-items: center;
}
.hero_sec_content h2{
   font-size: 45px;
   font-weight: 600;
   color: #474747;
}
.hero_sec_content h1{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}
.hero_sec_content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.hero_img{
    position: right bottom;
}
/* main section star */
.main_sec_web{
    width: 1140px;
    margin: auto;


}
.about_container{
    background-color: #FFF8F3;
    margin-top: 130px;
    padding: 130px 257px;
   
    
}
.section_title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 45px;
}

.set_BY_line{
    display: flex;
    justify-content: space-around;
}
.section_desriptio{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.set_BY_line{
    text-align: center;
}
.name1{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.name2{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;

}
.about_all_info{
    margin-top: 130px;
}
.about_title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 45px;
}
.about_para{
    text-align: center;
}
.conteinerBy_info{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.iteam1{
    background: #FFFFFF;
     box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
     border-radius: 5px;
     padding: 30px;
}
.iteam1 img{
    width: 64px;
    height: 64px;
}
.iteam2{
    background: #FFFFFF;
     box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
     border-radius: 5px;
     padding: 30px;
}
.iteam2 img{
    width: 64px;
    height: 64px;
}

.iteam3{
    background: #FFFFFF;
     box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
     border-radius: 5px;
     padding: 30px;
}
.iteam3 img{
    width: 64px;
    height: 64px;
}

.iteam4{
    background: #FFFFFF;
     box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
     border-radius: 5px;
     padding: 30px;
}
.iteam4 img{
    width: 64px;
    height: 64px;
}
.iteam_title{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26.24px;
    margin-bottom: 30px;
}
.iteam_p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}
/* >>>>>>>>>>>>resume */

.resume_sec{
    margin-top: 130px;
}

.container_resume_sec{
    display: flex;
    gap: 70px;
}
.resume_left_title{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 40px;
}
.resume_item_title{
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 10px;
}
.resume_item_des{
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 20px;
}

.resume_item_des2{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

/* __right */
.resume_right_title{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 40px;
}
.resume_item_title_right{
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 10px;
}
.resume_item_des{
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 20px;
}

.resume_item_des2{
    /* width: 450px; */
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}
.pro{
text-align: center;
margin-top: 50px;
}
.full_sec_col{
    width: 100%;
    height: 780px;
    background-color: #FFF8F3;
    padding: 200px 130px;
    margin-top: 130px;
}
.fotter{
    width: 1140px;
    display: flex;
    margin: auto;
    gap: 117px;
}
.left_side_fotter_title{
    font-size: 35px;
    font-weight: 700;
    line-height: 47px;
}
.left_side_fotter_p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.name_input,.mail_input{
    width: 461px;
    height: 64px;
    border: none;
    padding: 18px 0px 18px 30px;
}

.mail_input{
  margin-top: 24px;
  margin-bottom: 24px;
  border: none;

}
textarea{
    width: 461px;
    height: 180px;
    margin-bottom: 24px;
    border: none;
    color: #474747;
    padding-left: 18px;
    padding-top: 20px;


}
